@model IPagedList<Blog.Models.BlogPost>

@*@helper Truncate(string input, int length)
    {
    if (input.Length <= length)
    {
            @input
    }
    else
    {
            @input.Substring(0, length)<text>...</text>
    }
    }*@

@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/images/shutterstock_327287249.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <span class="subheading"></span>
                    <h2><em>Mary Ann Burns</em></h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        @foreach (var post in Model)
          {
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <div class="blog-content">
                        <!-- Blog Post -->
                        <h2><a href="@Url.Action("Details", new { slug = post.Slug })">@post.Title</a></h2>
                        @*<a href="post.html">
                            <h3 class="">@Html.DisplayFor(modelItem => @item.Title)</h3>*@
                        @*<h3><a href="@Url.Action("Details", new { Id=post.Title})">@Html.DisplayFor(modelItem => @post.Title)</a></h3>*@
                        @*@Truncate(post.Body, 85)*@
                        <h5>@Html.ActionLink("Read more here...", "Details", new { slug = @post.Slug })</h5>
                        <p class="post-meta">Posted by <a href="#">Mary Ann Burns on @post.Created.ToLocalTime().ToString("MMMM dd, yyyy")</a>
                    </div>
                </div>
            </div>
        }
        <div class="form-group">
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
            {
                <div class="col-md-offset-2 col-md-10">
                    @using (Html.BeginForm("Create", "BlogPosts", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Create" class="btn btn-default" />
                    }
                </div>
            }
        </div>
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))



@*@section scripts{
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script type="text/javascript">
        $(function () {
            tinymce.init({
                selector: '#editor'
            });
        });
    </script>
}*@












