@model IPagedList<Blog.Models.BlogPost>

@helper Truncate(string input, int length)
    {
    if (input.Length <= length)
    {
            @input
    }
    else
    {
            @input.Substring(0, length)<text>...</text>
    }
    }
@{
    ViewBag.Title = "Index";
}
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<style>
    .searchBox {
        float: right;
    }
</style>

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/images/shutterstock_327287249.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <span class="subheading"></span>
                    <h2><em>Mary Ann Burns</em></h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <li class="nav navbar-nav navbar-right">
                <div class="searchBox">
                    @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                    {
                       <input type="text" name="searchStr" />
                          <input type="submit" name="search" value="Search" />
                    }
                </div>
            </li>
                <div class="post-preview">
                    @foreach (var post in Model)
                    {
                        <h2><a href="@Url.Action("Details", new { slug = post.Slug })">@post.Title</a></h2>
                        <h4><a href="@Url.Action("Details", new { slug = post.Slug })">@Truncate(post.Body, 85)</a></h4>
                        <h5>@Html.ActionLink("Read more here...", "Details", new { slug = @post.Slug })</h5>
                            <div class="post-meta">Posted by <a href="#">Mary Ann Burns on @post.Created.ToLocalTime().ToString("MMMM dd, yyyy")</a></div>
                        if (ViewContext.HttpContext.User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = post.Id })
                            @Html.ActionLink("Delete", "Delete", new { id = post.Id });
                        }
                    }
                    <div class="form-group">
                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                        {
                            <div class="col-md-offset-2 col-md-10">
                                @using (Html.BeginForm("Create", "BlogPosts", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div>
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
          </div>
     </div>
</div>
<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>














